.forms__type {
  margin-top: 20px;
}

.forms__title {
  text-transform: uppercase;
  font-weight: 700;
}

.forms__list {
  list-style-type: none;
}

.forms_label {
  text-transform: uppercase;
}

.forms-button {
  background-color: @base-bg-color;
  margin-top: 51px;
}

@media (min-width: @tablet-width) {
  .forms {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: 290px 253px 235px 240px 58px;
    align-items: center;
  }

  .forms__type--impression {
    grid-column: ~"1/2";
    grid-row: ~"1/2";
  }

  .forms__type--person {
    grid-column: ~"2/3";
    grid-row: ~"1/2";
  }

  .forms__type--contacts {
    grid-column: ~"1/-1";
    grid-row: ~"2/3";
  }

  .forms__type--sigh {
    grid-column: ~"1/-1";
    grid-row: ~"3/4";
  }

  .forms__type--emotions {
    grid-column: ~"1/-1";
    grid-row: ~"4/5";
  }

  .forms-button {
    grid-column: ~"1/2";
    grid-row: ~"5/6";
  }

  .forms__note {
    grid-column: ~"2/3";
    grid-row: ~"5/6";
  }
}
