.gallery {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    .gallery {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: @desktop-width) {
    .gallery {
      display: flex;
      flex-direction: column;
    }
  }
}

.gallery__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.gallery__title {
  text-transform: uppercase;
}

.gallery__text {
  text-transform: uppercase;
}

.gallery__signature {
  text-transform: uppercase;
  font-weight: 700;
}
