{
  "extends": "stylelint-config-htmlacademy",
  "ignoreFiles": ["source/css/style.css"],

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}]
  }
}
