.page-footer {
  text-transform: uppercase;
  text-align: center;
}

.visit {
  margin-top: 39px;
}

.visit__twitter {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 21px;
}

.social__list {
  list-style-type: none;
}

.social__link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.copyright {
  margin-bottom: 26px;
}
