.page-footer {
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
  }
}
